.container {
    display: block;
    width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.container.container--narrow {
    width: 800px;
}

.container.container--full-width {
    width: 100%;
}