@media (min-width: 0) {
  .m-0 {
    margin: 0;
  }
  .mx-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .mt-0 {
    margin-top: 0;
  }
  .mr-0 {
    margin-right: 0;
  }
  .mb-0 {
    margin-bottom: 0;
  }
  .ml-0 {
    margin-left: 0;
  }
  .p-0 {
    padding: 0;
  }
  .px-0 {
    padding-right: 0;
    padding-left: 0;
  }
  .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .pt-0 {
    padding-top: 0;
  }
  .pr-0 {
    padding-right: 0;
  }
  .pb-0 {
    padding-bottom: 0;
  }
  .pl-0 {
    padding-left: 0;
  }
  .m-1 {
    margin: 4px;
  }
  .mx-1 {
    margin-right: 4px;
    margin-left: 4px;
  }
  .my-1 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .mt-1 {
    margin-top: 4px;
  }
  .mr-1 {
    margin-right: 4px;
  }
  .mb-1 {
    margin-bottom: 4px;
  }
  .ml-1 {
    margin-left: 4px;
  }
  .p-1 {
    padding: 4px;
  }
  .px-1 {
    padding-right: 4px;
    padding-left: 4px;
  }
  .py-1 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .pt-1 {
    padding-top: 4px;
  }
  .pr-1 {
    padding-right: 4px;
  }
  .pb-1 {
    padding-bottom: 4px;
  }
  .pl-1 {
    padding-left: 4px;
  }
  .m-2 {
    margin: 8px;
  }
  .mx-2 {
    margin-right: 8px;
    margin-left: 8px;
  }
  .my-2 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .mt-2 {
    margin-top: 8px;
  }
  .mr-2 {
    margin-right: 8px;
  }
  .mb-2 {
    margin-bottom: 8px;
  }
  .ml-2 {
    margin-left: 8px;
  }
  .p-2 {
    padding: 8px;
  }
  .px-2 {
    padding-right: 8px;
    padding-left: 8px;
  }
  .py-2 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .pt-2 {
    padding-top: 8px;
  }
  .pr-2 {
    padding-right: 8px;
  }
  .pb-2 {
    padding-bottom: 8px;
  }
  .pl-2 {
    padding-left: 8px;
  }
  .m-3 {
    margin: 16px;
  }
  .mx-3 {
    margin-right: 16px;
    margin-left: 16px;
  }
  .my-3 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mt-3 {
    margin-top: 16px;
  }
  .mr-3 {
    margin-right: 16px;
  }
  .mb-3 {
    margin-bottom: 16px;
  }
  .ml-3 {
    margin-left: 16px;
  }
  .p-3 {
    padding: 16px;
  }
  .px-3 {
    padding-right: 16px;
    padding-left: 16px;
  }
  .py-3 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .pt-3 {
    padding-top: 16px;
  }
  .pr-3 {
    padding-right: 16px;
  }
  .pb-3 {
    padding-bottom: 16px;
  }
  .pl-3 {
    padding-left: 16px;
  }
  .m-4 {
    margin: 24px;
  }
  .mx-4 {
    margin-right: 24px;
    margin-left: 24px;
  }
  .my-4 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .mt-4 {
    margin-top: 24px;
  }
  .mr-4 {
    margin-right: 24px;
  }
  .mb-4 {
    margin-bottom: 24px;
  }
  .ml-4 {
    margin-left: 24px;
  }
  .p-4 {
    padding: 24px;
  }
  .px-4 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .py-4 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .pt-4 {
    padding-top: 24px;
  }
  .pr-4 {
    padding-right: 24px;
  }
  .pb-4 {
    padding-bottom: 24px;
  }
  .pl-4 {
    padding-left: 24px;
  }
  .m-5 {
    margin: 48px;
  }
  .mx-5 {
    margin-right: 48px;
    margin-left: 48px;
  }
  .my-5 {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .mt-5 {
    margin-top: 48px;
  }
  .mr-5 {
    margin-right: 48px;
  }
  .mb-5 {
    margin-bottom: 48px;
  }
  .ml-5 {
    margin-left: 48px;
  }
  .p-5 {
    padding: 48px;
  }
  .px-5 {
    padding-right: 48px;
    padding-left: 48px;
  }
  .py-5 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .pt-5 {
    padding-top: 48px;
  }
  .pr-5 {
    padding-right: 48px;
  }
  .pb-5 {
    padding-bottom: 48px;
  }
  .pl-5 {
    padding-left: 48px;
  }
  .m-6 {
    margin: 80px;
  }
  .mx-6 {
    margin-right: 80px;
    margin-left: 80px;
  }
  .my-6 {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .mt-6 {
    margin-top: 80px;
  }
  .mr-6 {
    margin-right: 80px;
  }
  .mb-6 {
    margin-bottom: 80px;
  }
  .ml-6 {
    margin-left: 80px;
  }
  .p-6 {
    padding: 80px;
  }
  .px-6 {
    padding-right: 80px;
    padding-left: 80px;
  }
  .py-6 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pt-6 {
    padding-top: 80px;
  }
  .pr-6 {
    padding-right: 80px;
  }
  .pb-6 {
    padding-bottom: 80px;
  }
  .pl-6 {
    padding-left: 80px;
  }
  .m-7 {
    margin: 112px;
  }
  .mx-7 {
    margin-right: 112px;
    margin-left: 112px;
  }
  .my-7 {
    margin-top: 112px;
    margin-bottom: 112px;
  }
  .mt-7 {
    margin-top: 112px;
  }
  .mr-7 {
    margin-right: 112px;
  }
  .mb-7 {
    margin-bottom: 112px;
  }
  .ml-7 {
    margin-left: 112px;
  }
  .p-7 {
    padding: 112px;
  }
  .px-7 {
    padding-right: 112px;
    padding-left: 112px;
  }
  .py-7 {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .pt-7 {
    padding-top: 112px;
  }
  .pr-7 {
    padding-right: 112px;
  }
  .pb-7 {
    padding-bottom: 112px;
  }
  .pl-7 {
    padding-left: 112px;
  }
}
@media (min-width: 576px) {
  .m-sm-0 {
    margin: 0;
  }
  .mx-sm-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .my-sm-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .mt-sm-0 {
    margin-top: 0;
  }
  .mr-sm-0 {
    margin-right: 0;
  }
  .mb-sm-0 {
    margin-bottom: 0;
  }
  .ml-sm-0 {
    margin-left: 0;
  }
  .p-sm-0 {
    padding: 0;
  }
  .px-sm-0 {
    padding-right: 0;
    padding-left: 0;
  }
  .py-sm-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .pt-sm-0 {
    padding-top: 0;
  }
  .pr-sm-0 {
    padding-right: 0;
  }
  .pb-sm-0 {
    padding-bottom: 0;
  }
  .pl-sm-0 {
    padding-left: 0;
  }
  .m-sm-1 {
    margin: 4px;
  }
  .mx-sm-1 {
    margin-right: 4px;
    margin-left: 4px;
  }
  .my-sm-1 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .mt-sm-1 {
    margin-top: 4px;
  }
  .mr-sm-1 {
    margin-right: 4px;
  }
  .mb-sm-1 {
    margin-bottom: 4px;
  }
  .ml-sm-1 {
    margin-left: 4px;
  }
  .p-sm-1 {
    padding: 4px;
  }
  .px-sm-1 {
    padding-right: 4px;
    padding-left: 4px;
  }
  .py-sm-1 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .pt-sm-1 {
    padding-top: 4px;
  }
  .pr-sm-1 {
    padding-right: 4px;
  }
  .pb-sm-1 {
    padding-bottom: 4px;
  }
  .pl-sm-1 {
    padding-left: 4px;
  }
  .m-sm-2 {
    margin: 8px;
  }
  .mx-sm-2 {
    margin-right: 8px;
    margin-left: 8px;
  }
  .my-sm-2 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .mt-sm-2 {
    margin-top: 8px;
  }
  .mr-sm-2 {
    margin-right: 8px;
  }
  .mb-sm-2 {
    margin-bottom: 8px;
  }
  .ml-sm-2 {
    margin-left: 8px;
  }
  .p-sm-2 {
    padding: 8px;
  }
  .px-sm-2 {
    padding-right: 8px;
    padding-left: 8px;
  }
  .py-sm-2 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .pt-sm-2 {
    padding-top: 8px;
  }
  .pr-sm-2 {
    padding-right: 8px;
  }
  .pb-sm-2 {
    padding-bottom: 8px;
  }
  .pl-sm-2 {
    padding-left: 8px;
  }
  .m-sm-3 {
    margin: 16px;
  }
  .mx-sm-3 {
    margin-right: 16px;
    margin-left: 16px;
  }
  .my-sm-3 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mt-sm-3 {
    margin-top: 16px;
  }
  .mr-sm-3 {
    margin-right: 16px;
  }
  .mb-sm-3 {
    margin-bottom: 16px;
  }
  .ml-sm-3 {
    margin-left: 16px;
  }
  .p-sm-3 {
    padding: 16px;
  }
  .px-sm-3 {
    padding-right: 16px;
    padding-left: 16px;
  }
  .py-sm-3 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .pt-sm-3 {
    padding-top: 16px;
  }
  .pr-sm-3 {
    padding-right: 16px;
  }
  .pb-sm-3 {
    padding-bottom: 16px;
  }
  .pl-sm-3 {
    padding-left: 16px;
  }
  .m-sm-4 {
    margin: 24px;
  }
  .mx-sm-4 {
    margin-right: 24px;
    margin-left: 24px;
  }
  .my-sm-4 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .mt-sm-4 {
    margin-top: 24px;
  }
  .mr-sm-4 {
    margin-right: 24px;
  }
  .mb-sm-4 {
    margin-bottom: 24px;
  }
  .ml-sm-4 {
    margin-left: 24px;
  }
  .p-sm-4 {
    padding: 24px;
  }
  .px-sm-4 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .py-sm-4 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .pt-sm-4 {
    padding-top: 24px;
  }
  .pr-sm-4 {
    padding-right: 24px;
  }
  .pb-sm-4 {
    padding-bottom: 24px;
  }
  .pl-sm-4 {
    padding-left: 24px;
  }
  .m-sm-5 {
    margin: 48px;
  }
  .mx-sm-5 {
    margin-right: 48px;
    margin-left: 48px;
  }
  .my-sm-5 {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .mt-sm-5 {
    margin-top: 48px;
  }
  .mr-sm-5 {
    margin-right: 48px;
  }
  .mb-sm-5 {
    margin-bottom: 48px;
  }
  .ml-sm-5 {
    margin-left: 48px;
  }
  .p-sm-5 {
    padding: 48px;
  }
  .px-sm-5 {
    padding-right: 48px;
    padding-left: 48px;
  }
  .py-sm-5 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .pt-sm-5 {
    padding-top: 48px;
  }
  .pr-sm-5 {
    padding-right: 48px;
  }
  .pb-sm-5 {
    padding-bottom: 48px;
  }
  .pl-sm-5 {
    padding-left: 48px;
  }
  .m-sm-6 {
    margin: 80px;
  }
  .mx-sm-6 {
    margin-right: 80px;
    margin-left: 80px;
  }
  .my-sm-6 {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .mt-sm-6 {
    margin-top: 80px;
  }
  .mr-sm-6 {
    margin-right: 80px;
  }
  .mb-sm-6 {
    margin-bottom: 80px;
  }
  .ml-sm-6 {
    margin-left: 80px;
  }
  .p-sm-6 {
    padding: 80px;
  }
  .px-sm-6 {
    padding-right: 80px;
    padding-left: 80px;
  }
  .py-sm-6 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pt-sm-6 {
    padding-top: 80px;
  }
  .pr-sm-6 {
    padding-right: 80px;
  }
  .pb-sm-6 {
    padding-bottom: 80px;
  }
  .pl-sm-6 {
    padding-left: 80px;
  }
  .m-sm-7 {
    margin: 112px;
  }
  .mx-sm-7 {
    margin-right: 112px;
    margin-left: 112px;
  }
  .my-sm-7 {
    margin-top: 112px;
    margin-bottom: 112px;
  }
  .mt-sm-7 {
    margin-top: 112px;
  }
  .mr-sm-7 {
    margin-right: 112px;
  }
  .mb-sm-7 {
    margin-bottom: 112px;
  }
  .ml-sm-7 {
    margin-left: 112px;
  }
  .p-sm-7 {
    padding: 112px;
  }
  .px-sm-7 {
    padding-right: 112px;
    padding-left: 112px;
  }
  .py-sm-7 {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .pt-sm-7 {
    padding-top: 112px;
  }
  .pr-sm-7 {
    padding-right: 112px;
  }
  .pb-sm-7 {
    padding-bottom: 112px;
  }
  .pl-sm-7 {
    padding-left: 112px;
  }
}
@media (min-width: 768px) {
  .m-md-0 {
    margin: 0;
  }
  .mx-md-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .my-md-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .mt-md-0 {
    margin-top: 0;
  }
  .mr-md-0 {
    margin-right: 0;
  }
  .mb-md-0 {
    margin-bottom: 0;
  }
  .ml-md-0 {
    margin-left: 0;
  }
  .p-md-0 {
    padding: 0;
  }
  .px-md-0 {
    padding-right: 0;
    padding-left: 0;
  }
  .py-md-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .pt-md-0 {
    padding-top: 0;
  }
  .pr-md-0 {
    padding-right: 0;
  }
  .pb-md-0 {
    padding-bottom: 0;
  }
  .pl-md-0 {
    padding-left: 0;
  }
  .m-md-1 {
    margin: 4px;
  }
  .mx-md-1 {
    margin-right: 4px;
    margin-left: 4px;
  }
  .my-md-1 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .mt-md-1 {
    margin-top: 4px;
  }
  .mr-md-1 {
    margin-right: 4px;
  }
  .mb-md-1 {
    margin-bottom: 4px;
  }
  .ml-md-1 {
    margin-left: 4px;
  }
  .p-md-1 {
    padding: 4px;
  }
  .px-md-1 {
    padding-right: 4px;
    padding-left: 4px;
  }
  .py-md-1 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .pt-md-1 {
    padding-top: 4px;
  }
  .pr-md-1 {
    padding-right: 4px;
  }
  .pb-md-1 {
    padding-bottom: 4px;
  }
  .pl-md-1 {
    padding-left: 4px;
  }
  .m-md-2 {
    margin: 8px;
  }
  .mx-md-2 {
    margin-right: 8px;
    margin-left: 8px;
  }
  .my-md-2 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .mt-md-2 {
    margin-top: 8px;
  }
  .mr-md-2 {
    margin-right: 8px;
  }
  .mb-md-2 {
    margin-bottom: 8px;
  }
  .ml-md-2 {
    margin-left: 8px;
  }
  .p-md-2 {
    padding: 8px;
  }
  .px-md-2 {
    padding-right: 8px;
    padding-left: 8px;
  }
  .py-md-2 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .pt-md-2 {
    padding-top: 8px;
  }
  .pr-md-2 {
    padding-right: 8px;
  }
  .pb-md-2 {
    padding-bottom: 8px;
  }
  .pl-md-2 {
    padding-left: 8px;
  }
  .m-md-3 {
    margin: 16px;
  }
  .mx-md-3 {
    margin-right: 16px;
    margin-left: 16px;
  }
  .my-md-3 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mt-md-3 {
    margin-top: 16px;
  }
  .mr-md-3 {
    margin-right: 16px;
  }
  .mb-md-3 {
    margin-bottom: 16px;
  }
  .ml-md-3 {
    margin-left: 16px;
  }
  .p-md-3 {
    padding: 16px;
  }
  .px-md-3 {
    padding-right: 16px;
    padding-left: 16px;
  }
  .py-md-3 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .pt-md-3 {
    padding-top: 16px;
  }
  .pr-md-3 {
    padding-right: 16px;
  }
  .pb-md-3 {
    padding-bottom: 16px;
  }
  .pl-md-3 {
    padding-left: 16px;
  }
  .m-md-4 {
    margin: 24px;
  }
  .mx-md-4 {
    margin-right: 24px;
    margin-left: 24px;
  }
  .my-md-4 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .mt-md-4 {
    margin-top: 24px;
  }
  .mr-md-4 {
    margin-right: 24px;
  }
  .mb-md-4 {
    margin-bottom: 24px;
  }
  .ml-md-4 {
    margin-left: 24px;
  }
  .p-md-4 {
    padding: 24px;
  }
  .px-md-4 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .py-md-4 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .pt-md-4 {
    padding-top: 24px;
  }
  .pr-md-4 {
    padding-right: 24px;
  }
  .pb-md-4 {
    padding-bottom: 24px;
  }
  .pl-md-4 {
    padding-left: 24px;
  }
  .m-md-5 {
    margin: 48px;
  }
  .mx-md-5 {
    margin-right: 48px;
    margin-left: 48px;
  }
  .my-md-5 {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .mt-md-5 {
    margin-top: 48px;
  }
  .mr-md-5 {
    margin-right: 48px;
  }
  .mb-md-5 {
    margin-bottom: 48px;
  }
  .ml-md-5 {
    margin-left: 48px;
  }
  .p-md-5 {
    padding: 48px;
  }
  .px-md-5 {
    padding-right: 48px;
    padding-left: 48px;
  }
  .py-md-5 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .pt-md-5 {
    padding-top: 48px;
  }
  .pr-md-5 {
    padding-right: 48px;
  }
  .pb-md-5 {
    padding-bottom: 48px;
  }
  .pl-md-5 {
    padding-left: 48px;
  }
  .m-md-6 {
    margin: 80px;
  }
  .mx-md-6 {
    margin-right: 80px;
    margin-left: 80px;
  }
  .my-md-6 {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .mt-md-6 {
    margin-top: 80px;
  }
  .mr-md-6 {
    margin-right: 80px;
  }
  .mb-md-6 {
    margin-bottom: 80px;
  }
  .ml-md-6 {
    margin-left: 80px;
  }
  .p-md-6 {
    padding: 80px;
  }
  .px-md-6 {
    padding-right: 80px;
    padding-left: 80px;
  }
  .py-md-6 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pt-md-6 {
    padding-top: 80px;
  }
  .pr-md-6 {
    padding-right: 80px;
  }
  .pb-md-6 {
    padding-bottom: 80px;
  }
  .pl-md-6 {
    padding-left: 80px;
  }
  .m-md-7 {
    margin: 112px;
  }
  .mx-md-7 {
    margin-right: 112px;
    margin-left: 112px;
  }
  .my-md-7 {
    margin-top: 112px;
    margin-bottom: 112px;
  }
  .mt-md-7 {
    margin-top: 112px;
  }
  .mr-md-7 {
    margin-right: 112px;
  }
  .mb-md-7 {
    margin-bottom: 112px;
  }
  .ml-md-7 {
    margin-left: 112px;
  }
  .p-md-7 {
    padding: 112px;
  }
  .px-md-7 {
    padding-right: 112px;
    padding-left: 112px;
  }
  .py-md-7 {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .pt-md-7 {
    padding-top: 112px;
  }
  .pr-md-7 {
    padding-right: 112px;
  }
  .pb-md-7 {
    padding-bottom: 112px;
  }
  .pl-md-7 {
    padding-left: 112px;
  }
}
@media (min-width: 992px) {
  .m-lg-0 {
    margin: 0;
  }
  .mx-lg-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .my-lg-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .mt-lg-0 {
    margin-top: 0;
  }
  .mr-lg-0 {
    margin-right: 0;
  }
  .mb-lg-0 {
    margin-bottom: 0;
  }
  .ml-lg-0 {
    margin-left: 0;
  }
  .p-lg-0 {
    padding: 0;
  }
  .px-lg-0 {
    padding-right: 0;
    padding-left: 0;
  }
  .py-lg-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .pt-lg-0 {
    padding-top: 0;
  }
  .pr-lg-0 {
    padding-right: 0;
  }
  .pb-lg-0 {
    padding-bottom: 0;
  }
  .pl-lg-0 {
    padding-left: 0;
  }
  .m-lg-1 {
    margin: 4px;
  }
  .mx-lg-1 {
    margin-right: 4px;
    margin-left: 4px;
  }
  .my-lg-1 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .mt-lg-1 {
    margin-top: 4px;
  }
  .mr-lg-1 {
    margin-right: 4px;
  }
  .mb-lg-1 {
    margin-bottom: 4px;
  }
  .ml-lg-1 {
    margin-left: 4px;
  }
  .p-lg-1 {
    padding: 4px;
  }
  .px-lg-1 {
    padding-right: 4px;
    padding-left: 4px;
  }
  .py-lg-1 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .pt-lg-1 {
    padding-top: 4px;
  }
  .pr-lg-1 {
    padding-right: 4px;
  }
  .pb-lg-1 {
    padding-bottom: 4px;
  }
  .pl-lg-1 {
    padding-left: 4px;
  }
  .m-lg-2 {
    margin: 8px;
  }
  .mx-lg-2 {
    margin-right: 8px;
    margin-left: 8px;
  }
  .my-lg-2 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .mt-lg-2 {
    margin-top: 8px;
  }
  .mr-lg-2 {
    margin-right: 8px;
  }
  .mb-lg-2 {
    margin-bottom: 8px;
  }
  .ml-lg-2 {
    margin-left: 8px;
  }
  .p-lg-2 {
    padding: 8px;
  }
  .px-lg-2 {
    padding-right: 8px;
    padding-left: 8px;
  }
  .py-lg-2 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .pt-lg-2 {
    padding-top: 8px;
  }
  .pr-lg-2 {
    padding-right: 8px;
  }
  .pb-lg-2 {
    padding-bottom: 8px;
  }
  .pl-lg-2 {
    padding-left: 8px;
  }
  .m-lg-3 {
    margin: 16px;
  }
  .mx-lg-3 {
    margin-right: 16px;
    margin-left: 16px;
  }
  .my-lg-3 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mt-lg-3 {
    margin-top: 16px;
  }
  .mr-lg-3 {
    margin-right: 16px;
  }
  .mb-lg-3 {
    margin-bottom: 16px;
  }
  .ml-lg-3 {
    margin-left: 16px;
  }
  .p-lg-3 {
    padding: 16px;
  }
  .px-lg-3 {
    padding-right: 16px;
    padding-left: 16px;
  }
  .py-lg-3 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .pt-lg-3 {
    padding-top: 16px;
  }
  .pr-lg-3 {
    padding-right: 16px;
  }
  .pb-lg-3 {
    padding-bottom: 16px;
  }
  .pl-lg-3 {
    padding-left: 16px;
  }
  .m-lg-4 {
    margin: 24px;
  }
  .mx-lg-4 {
    margin-right: 24px;
    margin-left: 24px;
  }
  .my-lg-4 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .mt-lg-4 {
    margin-top: 24px;
  }
  .mr-lg-4 {
    margin-right: 24px;
  }
  .mb-lg-4 {
    margin-bottom: 24px;
  }
  .ml-lg-4 {
    margin-left: 24px;
  }
  .p-lg-4 {
    padding: 24px;
  }
  .px-lg-4 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .py-lg-4 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .pt-lg-4 {
    padding-top: 24px;
  }
  .pr-lg-4 {
    padding-right: 24px;
  }
  .pb-lg-4 {
    padding-bottom: 24px;
  }
  .pl-lg-4 {
    padding-left: 24px;
  }
  .m-lg-5 {
    margin: 48px;
  }
  .mx-lg-5 {
    margin-right: 48px;
    margin-left: 48px;
  }
  .my-lg-5 {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .mt-lg-5 {
    margin-top: 48px;
  }
  .mr-lg-5 {
    margin-right: 48px;
  }
  .mb-lg-5 {
    margin-bottom: 48px;
  }
  .ml-lg-5 {
    margin-left: 48px;
  }
  .p-lg-5 {
    padding: 48px;
  }
  .px-lg-5 {
    padding-right: 48px;
    padding-left: 48px;
  }
  .py-lg-5 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .pt-lg-5 {
    padding-top: 48px;
  }
  .pr-lg-5 {
    padding-right: 48px;
  }
  .pb-lg-5 {
    padding-bottom: 48px;
  }
  .pl-lg-5 {
    padding-left: 48px;
  }
  .m-lg-6 {
    margin: 80px;
  }
  .mx-lg-6 {
    margin-right: 80px;
    margin-left: 80px;
  }
  .my-lg-6 {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .mt-lg-6 {
    margin-top: 80px;
  }
  .mr-lg-6 {
    margin-right: 80px;
  }
  .mb-lg-6 {
    margin-bottom: 80px;
  }
  .ml-lg-6 {
    margin-left: 80px;
  }
  .p-lg-6 {
    padding: 80px;
  }
  .px-lg-6 {
    padding-right: 80px;
    padding-left: 80px;
  }
  .py-lg-6 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pt-lg-6 {
    padding-top: 80px;
  }
  .pr-lg-6 {
    padding-right: 80px;
  }
  .pb-lg-6 {
    padding-bottom: 80px;
  }
  .pl-lg-6 {
    padding-left: 80px;
  }
  .m-lg-7 {
    margin: 112px;
  }
  .mx-lg-7 {
    margin-right: 112px;
    margin-left: 112px;
  }
  .my-lg-7 {
    margin-top: 112px;
    margin-bottom: 112px;
  }
  .mt-lg-7 {
    margin-top: 112px;
  }
  .mr-lg-7 {
    margin-right: 112px;
  }
  .mb-lg-7 {
    margin-bottom: 112px;
  }
  .ml-lg-7 {
    margin-left: 112px;
  }
  .p-lg-7 {
    padding: 112px;
  }
  .px-lg-7 {
    padding-right: 112px;
    padding-left: 112px;
  }
  .py-lg-7 {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .pt-lg-7 {
    padding-top: 112px;
  }
  .pr-lg-7 {
    padding-right: 112px;
  }
  .pb-lg-7 {
    padding-bottom: 112px;
  }
  .pl-lg-7 {
    padding-left: 112px;
  }
}
@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0;
  }
  .mx-xl-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .my-xl-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .mt-xl-0 {
    margin-top: 0;
  }
  .mr-xl-0 {
    margin-right: 0;
  }
  .mb-xl-0 {
    margin-bottom: 0;
  }
  .ml-xl-0 {
    margin-left: 0;
  }
  .p-xl-0 {
    padding: 0;
  }
  .px-xl-0 {
    padding-right: 0;
    padding-left: 0;
  }
  .py-xl-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .pt-xl-0 {
    padding-top: 0;
  }
  .pr-xl-0 {
    padding-right: 0;
  }
  .pb-xl-0 {
    padding-bottom: 0;
  }
  .pl-xl-0 {
    padding-left: 0;
  }
  .m-xl-1 {
    margin: 4px;
  }
  .mx-xl-1 {
    margin-right: 4px;
    margin-left: 4px;
  }
  .my-xl-1 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .mt-xl-1 {
    margin-top: 4px;
  }
  .mr-xl-1 {
    margin-right: 4px;
  }
  .mb-xl-1 {
    margin-bottom: 4px;
  }
  .ml-xl-1 {
    margin-left: 4px;
  }
  .p-xl-1 {
    padding: 4px;
  }
  .px-xl-1 {
    padding-right: 4px;
    padding-left: 4px;
  }
  .py-xl-1 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .pt-xl-1 {
    padding-top: 4px;
  }
  .pr-xl-1 {
    padding-right: 4px;
  }
  .pb-xl-1 {
    padding-bottom: 4px;
  }
  .pl-xl-1 {
    padding-left: 4px;
  }
  .m-xl-2 {
    margin: 8px;
  }
  .mx-xl-2 {
    margin-right: 8px;
    margin-left: 8px;
  }
  .my-xl-2 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .mt-xl-2 {
    margin-top: 8px;
  }
  .mr-xl-2 {
    margin-right: 8px;
  }
  .mb-xl-2 {
    margin-bottom: 8px;
  }
  .ml-xl-2 {
    margin-left: 8px;
  }
  .p-xl-2 {
    padding: 8px;
  }
  .px-xl-2 {
    padding-right: 8px;
    padding-left: 8px;
  }
  .py-xl-2 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .pt-xl-2 {
    padding-top: 8px;
  }
  .pr-xl-2 {
    padding-right: 8px;
  }
  .pb-xl-2 {
    padding-bottom: 8px;
  }
  .pl-xl-2 {
    padding-left: 8px;
  }
  .m-xl-3 {
    margin: 16px;
  }
  .mx-xl-3 {
    margin-right: 16px;
    margin-left: 16px;
  }
  .my-xl-3 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mt-xl-3 {
    margin-top: 16px;
  }
  .mr-xl-3 {
    margin-right: 16px;
  }
  .mb-xl-3 {
    margin-bottom: 16px;
  }
  .ml-xl-3 {
    margin-left: 16px;
  }
  .p-xl-3 {
    padding: 16px;
  }
  .px-xl-3 {
    padding-right: 16px;
    padding-left: 16px;
  }
  .py-xl-3 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .pt-xl-3 {
    padding-top: 16px;
  }
  .pr-xl-3 {
    padding-right: 16px;
  }
  .pb-xl-3 {
    padding-bottom: 16px;
  }
  .pl-xl-3 {
    padding-left: 16px;
  }
  .m-xl-4 {
    margin: 24px;
  }
  .mx-xl-4 {
    margin-right: 24px;
    margin-left: 24px;
  }
  .my-xl-4 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .mt-xl-4 {
    margin-top: 24px;
  }
  .mr-xl-4 {
    margin-right: 24px;
  }
  .mb-xl-4 {
    margin-bottom: 24px;
  }
  .ml-xl-4 {
    margin-left: 24px;
  }
  .p-xl-4 {
    padding: 24px;
  }
  .px-xl-4 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .py-xl-4 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .pt-xl-4 {
    padding-top: 24px;
  }
  .pr-xl-4 {
    padding-right: 24px;
  }
  .pb-xl-4 {
    padding-bottom: 24px;
  }
  .pl-xl-4 {
    padding-left: 24px;
  }
  .m-xl-5 {
    margin: 48px;
  }
  .mx-xl-5 {
    margin-right: 48px;
    margin-left: 48px;
  }
  .my-xl-5 {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .mt-xl-5 {
    margin-top: 48px;
  }
  .mr-xl-5 {
    margin-right: 48px;
  }
  .mb-xl-5 {
    margin-bottom: 48px;
  }
  .ml-xl-5 {
    margin-left: 48px;
  }
  .p-xl-5 {
    padding: 48px;
  }
  .px-xl-5 {
    padding-right: 48px;
    padding-left: 48px;
  }
  .py-xl-5 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .pt-xl-5 {
    padding-top: 48px;
  }
  .pr-xl-5 {
    padding-right: 48px;
  }
  .pb-xl-5 {
    padding-bottom: 48px;
  }
  .pl-xl-5 {
    padding-left: 48px;
  }
  .m-xl-6 {
    margin: 80px;
  }
  .mx-xl-6 {
    margin-right: 80px;
    margin-left: 80px;
  }
  .my-xl-6 {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .mt-xl-6 {
    margin-top: 80px;
  }
  .mr-xl-6 {
    margin-right: 80px;
  }
  .mb-xl-6 {
    margin-bottom: 80px;
  }
  .ml-xl-6 {
    margin-left: 80px;
  }
  .p-xl-6 {
    padding: 80px;
  }
  .px-xl-6 {
    padding-right: 80px;
    padding-left: 80px;
  }
  .py-xl-6 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pt-xl-6 {
    padding-top: 80px;
  }
  .pr-xl-6 {
    padding-right: 80px;
  }
  .pb-xl-6 {
    padding-bottom: 80px;
  }
  .pl-xl-6 {
    padding-left: 80px;
  }
  .m-xl-7 {
    margin: 112px;
  }
  .mx-xl-7 {
    margin-right: 112px;
    margin-left: 112px;
  }
  .my-xl-7 {
    margin-top: 112px;
    margin-bottom: 112px;
  }
  .mt-xl-7 {
    margin-top: 112px;
  }
  .mr-xl-7 {
    margin-right: 112px;
  }
  .mb-xl-7 {
    margin-bottom: 112px;
  }
  .ml-xl-7 {
    margin-left: 112px;
  }
  .p-xl-7 {
    padding: 112px;
  }
  .px-xl-7 {
    padding-right: 112px;
    padding-left: 112px;
  }
  .py-xl-7 {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .pt-xl-7 {
    padding-top: 112px;
  }
  .pr-xl-7 {
    padding-right: 112px;
  }
  .pb-xl-7 {
    padding-bottom: 112px;
  }
  .pl-xl-7 {
    padding-left: 112px;
  }
}
@media (min-width: 1400px) {
  .m-xxl-0 {
    margin: 0;
  }
  .mx-xxl-0 {
    margin-right: 0;
    margin-left: 0;
  }
  .my-xxl-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .mt-xxl-0 {
    margin-top: 0;
  }
  .mr-xxl-0 {
    margin-right: 0;
  }
  .mb-xxl-0 {
    margin-bottom: 0;
  }
  .ml-xxl-0 {
    margin-left: 0;
  }
  .p-xxl-0 {
    padding: 0;
  }
  .px-xxl-0 {
    padding-right: 0;
    padding-left: 0;
  }
  .py-xxl-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .pt-xxl-0 {
    padding-top: 0;
  }
  .pr-xxl-0 {
    padding-right: 0;
  }
  .pb-xxl-0 {
    padding-bottom: 0;
  }
  .pl-xxl-0 {
    padding-left: 0;
  }
  .m-xxl-1 {
    margin: 4px;
  }
  .mx-xxl-1 {
    margin-right: 4px;
    margin-left: 4px;
  }
  .my-xxl-1 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .mt-xxl-1 {
    margin-top: 4px;
  }
  .mr-xxl-1 {
    margin-right: 4px;
  }
  .mb-xxl-1 {
    margin-bottom: 4px;
  }
  .ml-xxl-1 {
    margin-left: 4px;
  }
  .p-xxl-1 {
    padding: 4px;
  }
  .px-xxl-1 {
    padding-right: 4px;
    padding-left: 4px;
  }
  .py-xxl-1 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .pt-xxl-1 {
    padding-top: 4px;
  }
  .pr-xxl-1 {
    padding-right: 4px;
  }
  .pb-xxl-1 {
    padding-bottom: 4px;
  }
  .pl-xxl-1 {
    padding-left: 4px;
  }
  .m-xxl-2 {
    margin: 8px;
  }
  .mx-xxl-2 {
    margin-right: 8px;
    margin-left: 8px;
  }
  .my-xxl-2 {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .mt-xxl-2 {
    margin-top: 8px;
  }
  .mr-xxl-2 {
    margin-right: 8px;
  }
  .mb-xxl-2 {
    margin-bottom: 8px;
  }
  .ml-xxl-2 {
    margin-left: 8px;
  }
  .p-xxl-2 {
    padding: 8px;
  }
  .px-xxl-2 {
    padding-right: 8px;
    padding-left: 8px;
  }
  .py-xxl-2 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .pt-xxl-2 {
    padding-top: 8px;
  }
  .pr-xxl-2 {
    padding-right: 8px;
  }
  .pb-xxl-2 {
    padding-bottom: 8px;
  }
  .pl-xxl-2 {
    padding-left: 8px;
  }
  .m-xxl-3 {
    margin: 16px;
  }
  .mx-xxl-3 {
    margin-right: 16px;
    margin-left: 16px;
  }
  .my-xxl-3 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .mt-xxl-3 {
    margin-top: 16px;
  }
  .mr-xxl-3 {
    margin-right: 16px;
  }
  .mb-xxl-3 {
    margin-bottom: 16px;
  }
  .ml-xxl-3 {
    margin-left: 16px;
  }
  .p-xxl-3 {
    padding: 16px;
  }
  .px-xxl-3 {
    padding-right: 16px;
    padding-left: 16px;
  }
  .py-xxl-3 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .pt-xxl-3 {
    padding-top: 16px;
  }
  .pr-xxl-3 {
    padding-right: 16px;
  }
  .pb-xxl-3 {
    padding-bottom: 16px;
  }
  .pl-xxl-3 {
    padding-left: 16px;
  }
  .m-xxl-4 {
    margin: 24px;
  }
  .mx-xxl-4 {
    margin-right: 24px;
    margin-left: 24px;
  }
  .my-xxl-4 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .mt-xxl-4 {
    margin-top: 24px;
  }
  .mr-xxl-4 {
    margin-right: 24px;
  }
  .mb-xxl-4 {
    margin-bottom: 24px;
  }
  .ml-xxl-4 {
    margin-left: 24px;
  }
  .p-xxl-4 {
    padding: 24px;
  }
  .px-xxl-4 {
    padding-right: 24px;
    padding-left: 24px;
  }
  .py-xxl-4 {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .pt-xxl-4 {
    padding-top: 24px;
  }
  .pr-xxl-4 {
    padding-right: 24px;
  }
  .pb-xxl-4 {
    padding-bottom: 24px;
  }
  .pl-xxl-4 {
    padding-left: 24px;
  }
  .m-xxl-5 {
    margin: 48px;
  }
  .mx-xxl-5 {
    margin-right: 48px;
    margin-left: 48px;
  }
  .my-xxl-5 {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .mt-xxl-5 {
    margin-top: 48px;
  }
  .mr-xxl-5 {
    margin-right: 48px;
  }
  .mb-xxl-5 {
    margin-bottom: 48px;
  }
  .ml-xxl-5 {
    margin-left: 48px;
  }
  .p-xxl-5 {
    padding: 48px;
  }
  .px-xxl-5 {
    padding-right: 48px;
    padding-left: 48px;
  }
  .py-xxl-5 {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .pt-xxl-5 {
    padding-top: 48px;
  }
  .pr-xxl-5 {
    padding-right: 48px;
  }
  .pb-xxl-5 {
    padding-bottom: 48px;
  }
  .pl-xxl-5 {
    padding-left: 48px;
  }
  .m-xxl-6 {
    margin: 80px;
  }
  .mx-xxl-6 {
    margin-right: 80px;
    margin-left: 80px;
  }
  .my-xxl-6 {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .mt-xxl-6 {
    margin-top: 80px;
  }
  .mr-xxl-6 {
    margin-right: 80px;
  }
  .mb-xxl-6 {
    margin-bottom: 80px;
  }
  .ml-xxl-6 {
    margin-left: 80px;
  }
  .p-xxl-6 {
    padding: 80px;
  }
  .px-xxl-6 {
    padding-right: 80px;
    padding-left: 80px;
  }
  .py-xxl-6 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pt-xxl-6 {
    padding-top: 80px;
  }
  .pr-xxl-6 {
    padding-right: 80px;
  }
  .pb-xxl-6 {
    padding-bottom: 80px;
  }
  .pl-xxl-6 {
    padding-left: 80px;
  }
  .m-xxl-7 {
    margin: 112px;
  }
  .mx-xxl-7 {
    margin-right: 112px;
    margin-left: 112px;
  }
  .my-xxl-7 {
    margin-top: 112px;
    margin-bottom: 112px;
  }
  .mt-xxl-7 {
    margin-top: 112px;
  }
  .mr-xxl-7 {
    margin-right: 112px;
  }
  .mb-xxl-7 {
    margin-bottom: 112px;
  }
  .ml-xxl-7 {
    margin-left: 112px;
  }
  .p-xxl-7 {
    padding: 112px;
  }
  .px-xxl-7 {
    padding-right: 112px;
    padding-left: 112px;
  }
  .py-xxl-7 {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .pt-xxl-7 {
    padding-top: 112px;
  }
  .pr-xxl-7 {
    padding-right: 112px;
  }
  .pb-xxl-7 {
    padding-bottom: 112px;
  }
  .pl-xxl-7 {
    padding-left: 112px;
  }
}
.btn {
  padding: 10px;
  border-radius: 4px;
}
.btn--primary {
  background: #b140b5;
  border: 1px solid #67256a;
}
.btn--primary:hover {
  background: #bd4ec0;
}
.btn--secondary {
  background: #40b55f;
  border: 1px solid #256a37;
}
.btn--secondary:hover {
  background: #4ec06c;
}
.btn--warning {
  background: #b5ad40;
  border: 1px solid #6a6525;
}
.btn--warning:hover {
  background: #c0b94e;
}
.btn--danger {
  background: #b54040;
  border: 1px solid #6a2525;
}
.btn--danger:hover {
  background: #c04e4e;
}
.btn--light {
  background: #d7d7d7;
  border: 1px solid #a4a4a4;
}
.btn--light:hover {
  background: #e4e4e4;
}
.btn--dark {
  background: #222222;
  border: 1px solid black;
}
.btn--dark:hover {
  background: #2f2f2f;
}
.btn--white {
  background: #fff;
  border: 1px solid #cccccc;
}
.btn--white:hover {
  background: white;
}
.btn--black {
  background: #000;
  border: 1px solid black;
}
.btn--black:hover {
  background: #0d0d0d;
}

/*# sourceMappingURL=main.css.map */
