.grid-tasks-img {
  display: block;
  height: 800px;
  margin: 40px auto;
}

.grid-tasks-grid {
  display: grid;
  margin: 40px auto;
  height: 800px;
  width: 970px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.grid-task {
  display: grid;
  background: #333;
  gap: 5px;
}

.grid-task>* {
  background: linear-gradient(to left bottom, #3d3, #5a5)
}

.grid-task--1 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-task--2 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-task__child-2x {
  grid-column: 2 span;
}

.grid-task__child-2y {
  grid-row: 2 span;
}