.grid-tasks-img {
  display: block;
  height: 800px;
  margin: 40px auto;
}

.grid-tasks-grid {
  display: grid;
  margin: 40px auto;
  height: 800px;
  width: 970px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.grid-task {
  display: grid;
  background: #333;
  gap: 5px;
}

.grid-task>* {
  background: linear-gradient(to left bottom, #3d3, #5a5)
}

.grid-task--1 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-task--2 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-task--3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-task--4 {}

.grid-task--5 {}

/* grid spans */

.grid-task__child-2x {
  grid-column: 2 span;
}

.grid-task__child-2y {
  grid-row: 2 span;
}

/* grid x axis line start 1 */
.grid-x-s-1 {
  grid-column-start: 1;
}

.grid-x-s-2 {
  grid-column-start: 2;
}

.grid-x-s-3 {
  grid-column-start: 3;
}

.grid-x-e-2 {
  grid-column-end: 2;
}

.grid-x-e-3 {
  grid-column-end: 3;
}

.grid-x-e-4 {
  grid-column-end: 4;
}

/* grid spans with lines */
.grid-x-1-3 {
  grid-column: 1 / 3;
}

.grid-y-2-4 {
  grid-column: 2 / 4;
}

/* gird areas */
.grid-area-1-1-3-3 {
  grid-area: 1 / 1 / 3 / 3;
}